<div>
  <h1 i18n="app name | Name of the application">Better Shopping List</h1>
  <div class="links">
    <!-- <span><a [routerLink]="['/user/login']" [queryParams]="{fixed: true}" routerLinkActive="active">Login</a></span>
    <span><a routerLink="/user/register" routerLinkActive="active">Register</a></span> -->
    <span><a routerLink="/markets" routerLinkActive="active">List Markets</a></span>
    <!-- <span><a routerLink="/wine/create" routerLinkActive="active">Create Wine</a></span> -->
  </div>
</div>
<router-outlet></router-outlet>