/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'uoc-sans';
  src: url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Regular.woff2") format("woff2"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Regular.woff") format("woff"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Regular.ttf") format("truetype"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Regular.svg#svgFontName") format("svg");
  font-weight: 400; 
}

@font-face {
  font-family: 'uoc-sans';
  src: url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Italic.woff2") format("woff2"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Italic.woff") format("woff"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Italic.ttf") format("truetype"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Italic.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic; 
}

@font-face {
  font-family: 'uoc-sans';
  src: url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Bold.woff2") format("woff2"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Bold.woff") format("woff"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Bold.ttf") format("truetype"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSans-Bold.svg#svgFontName") format("svg");
  font-weight: 600; 
}

@font-face {
  font-family: 'uoc-serif';
  src: url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSerif-Regular.woff2") format("woff2"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSerif-Regular.woff") format("woff"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSerif-Regular.ttf") format("truetype"), url("https://cv.uoc.edu/UOC/GEFv2/gef/fonts/UOCSerif-Regular.svg#svgFontName") format("svg");
  font-weight: 400; 
}

* {
  box-sizing: border-box;
  font-family: 'uoc-sans', Arial;
}

